---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 82.2.1
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  values:
    # Disable monitoring of kubernetes core components not available in k3s
    kubeEtcd:
      enabled: false
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false

    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana

    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: There are {{ $value }} containers pulling from Dockerhub. This may lead to rate limiting.
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical

    kubeApiServer:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (apiserver|etcd|rest_client)_request(|_sli|_slo)_duration_seconds_bucket
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (apiserver_response_sizes_bucket|apiserver_watch_events_sizes_bucket)

    kubelet:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          # Drop high cardinality labels
          - action: labeldrop
            regex: (uid)
          - action: labeldrop
            regex: (id|name)
          - action: drop
            sourceLabels:
              - "__name__"
            regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)

    alertmanager:
      enabled: false

    ###
    ### Prometheus instance values
    ###
    prometheus:
      ingress:
        enabled: false
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.lucadev.de
          parentRefs:
            - name: envoy
              namespace: networking

      prometheusSpec:
        securityContext:
          runAsNonRoot: true
          runAsUser: 64535
          runAsGroup: 64535
          fsGroup: 64535
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        alertingEndpoints:
          - namespace: monitoring
            name: alertmanager
            port: 9093
            apiVersion: v2
        additionalScrapeConfigs:
          - job_name: solar
            scrape_interval: 1m
            scrape_timeout: 10s
            honor_timestamps: true
            metrics_path: /api/prometheus/metrics
            static_configs:
              - targets:
                  - "pv-anlage.home.lucadev.de"
          - job_name: power-meter
            scrape_interval: 1m
            scrape_timeout: 10s
            honor_timestamps: true
            metrics_path: /metrics
            static_configs:
              - targets:
                  - "power-meter.home.lucadev.de"
          - job_name: snmp-exporter-mikrotik
            scrape_interval: 1m
            scrape_timeout: 10s
            static_configs:
              - targets:
                  - router.home.lucadev.de
                  - SFP-Switch.home.lucadev.de
            metrics_path: /snmp
            params:
              auth:
                - public_v2
              module:
                - if_mib
                - mikrotik
            relabel_configs:
              - source_labels:
                  - __address__
                target_label: __param_target
              - source_labels:
                  - __param_target
                target_label: instance
              - target_label: __address__
                replacement: "snmp-exporter-prometheus-snmp-exporter.monitoring.svc.cluster.local:9116"
          - job_name: snmp-exporter-if
            scrape_interval: 1m
            scrape_timeout: 10s
            static_configs:
              - targets:
                  - POE-Switch.home.lucadev.de
            metrics_path: /snmp
            params:
              auth:
                - public_v2
              module:
                - if_mib
            relabel_configs:
              - source_labels:
                  - __address__
                target_label: __param_target
              - source_labels:
                  - __param_target
                target_label: instance
              - target_label: __address__
                replacement: "snmp-exporter-prometheus-snmp-exporter.monitoring.svc.cluster.local:9116"
          - job_name: snmp-exporter-ups
            scrape_interval: 1m
            scrape_timeout: 10s
            static_configs:
              - targets:
                  - 192.168.1.72
            metrics_path: /snmp
            params:
              auth:
                - public_v2
              module:
                - ups_mib
            relabel_configs:
              - source_labels:
                  - __address__
                target_label: __param_target
              - source_labels:
                  - __param_target
                target_label: instance
              - target_label: __address__
                replacement: "snmp-exporter-prometheus-snmp-exporter.monitoring.svc.cluster.local:9116"

        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: cached-singlereplica
              accessModes:
                - "ReadWriteOnce"
              resources:
                requests:
                  storage: 50Gi

        # retention: 10d
        retentionSize: "50GB"
        scrapeInterval: 1m
