---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyExtensionPolicy
metadata:
  name: coraza
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: envoy
  wasm:
    - name: coraza-filter
      rootID: ""
      failOpen: true
      code:
        type: Image
        image:
          url: ghcr.io/corazawaf/coraza-proxy-wasm:0.6.0
      config:
        directives_map:
          default:
            - Include @recommended-conf
            # - SecRuleEngine On
            - SecDebugLogLevel 2
            - Include @crs-setup-conf
            - Include @owasp_crs/*.conf
        default_directives: "default"
