---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/internal
labels:
  - pairs:
      app.kubernetes.io/name: romm
      app.kubernetes.io/instance: romm
      app.kubernetes.io/part-of: romm
configMapGenerator:
  - name: romm-nginx-config
    files:
      - conf/nginx.conf
generatorOptions:
  disableNameSuffixHash: true
