---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
#  - ./alertmanager/ks.yaml
  - ./unpoller/ks.yaml
  - ./grafana/ks.yaml
  - ./mqtt-exporter/ks.yaml
  - ./smartctl_exporter/ks.yaml
  - ./blackbox-exporter/ks.yaml
  - ./snmp-exporter/ks.yaml
#  - ./fritz-exporter/ks.yaml
  - ./healthcheck
