---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./helmrelease.yaml
  - ../../../../templates/gatus/internal
labels:
  - pairs:
      app.kubernetes.io/name: paperless-ai
      app.kubernetes.io/instance: paperless-ai
      app.kubernetes.io/part-of: paperless-ai
